/* Loading */
:root {
    --aqua:  #7FDBFF;
    --blue:  #0074D9;
    --navy:  #001F3F;
    --teal:  #39CCCC;
    --green: #2ECC40;
    --olive: #3D9970;
    --lime:  #01FF70;
  
    --yellow:  #FFDC00;
    --orange:  #FF851B;
    --red:     #FF4136;
    --fuchsia: #F012BE;
    --purple:  #B10DC9;
    --maroon:  #85144B;
  
    --white:  #FFFFFF;
    --silver: #DDDDDD;
    --gray:   #AAAAAA;
    --black:  #111111;
}

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    background-color: #ebf6ff;
}
.blobs {
    display: grid;
    position: relative;
    animation: spin infinite 5s linear, spinOpen 0.3s ease-in-out;
}
.blob {
    --border-radius: 115% 140% 145% 110% / 125% 140% 110% 125%;
    --border-width: 5vmin;
    
    aspect-ratio: 1;
    display: block;
    grid-area: stack;
    background-size: calc(100% + var(--border-width) * 2);
    background-repeat: no-repeat;
    background-position: center;
    border: var(--border-width) solid transparent;
    border-radius: var(--border-radius, 50%);
    mask-image:
      linear-gradient(transparent, transparent),
      linear-gradient(black, white)
    ;
    mask-clip: padding-box, border-box;
    mask-composite: intersect;
    mix-blend-mode: screen;
    height: 80vmin;
    filter: blur(1vmin);
    
    &:nth-child(1) {
      background-color: var(--blue);
      background-image: linear-gradient(var(--blue), var(--teal), var(--blue));
      rotate: 30deg;
      scale: 1.03;
    }
    
    &:nth-child(2) {
      background-color: var(--red);
      background-image: linear-gradient(var(--red), var(--orange), var(--red));
      rotate: 60deg;
      scale: 0.95;
    }
    
    &:nth-child(3) {
      background-color: var(--olive);
      background-image: linear-gradient(var(--olive), var(--lime), var(--olive));
      rotate: 90deg;
      scale: 0.97;
    }
    
    &:nth-child(4) {
      background-color: var(--purple);
      background-image: linear-gradient(var(--purple), var(--maroon), var(--purple));
      rotate: 120deg;
      scale: 1.02;
    }
}

@keyframes spin {
    from {
      rotate: 0deg;
    }
    to {
      rotate: 360deg;
    }
}
@keyframes spinOpen {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}
/* -------------------------------------- */
/* Canvas */
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  
    color: black;
    background-color: #ebf6ff;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    position: absolute;
    z-index: 0;
}

.bouncing-blob {
    width: 32vw;
    aspect-ratio: 1;
    border-radius: 50%;
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transform-origin: left top;
}

.bouncing-blob--blue {
    background: #4783c7;
}

.bouncing-blob--white {
    background: #ffffff;
    z-index: 2;
    width: 15vw;
}

.bouncing-blob--purple {
    background: #8c8ff1;
}

.bouncing-blob--pink {
    background: #ff2e2e50;
}

.bouncing-blobs-container {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    overflow: hidden;
}

.bouncing-blobs-glass {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(140px);
    -webkit-backdrop-filter: blur(140px);
    pointer-events: none;
}

.bouncing-blobs {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 1200px) {
    .bouncing-blobs-glass {
      backdrop-filter: blur(120px);
      -webkit-backdrop-filter: blur(120px);
    }
}

@media (max-width: 500px) {
    .bouncing-blob {
      width: 60vw;
    }
    .bouncing-blob--white {
      width: 30vw;
    }
    .bouncing-blobs-glass {
      backdrop-filter: blur(90px);
      -webkit-backdrop-filter: blur(90px);
    }
}

@media(max-width: 500px) {
    .tutorial-link a {
      font-size: 14px;
      padding: 2px 4px;
    }
    .tutorial-link svg {
      width: 15px;
    }
}