@font-face {
    font-family: 'Cairo';
    font-weight: 300;
    src: url(../Fonts/Cairo/static/Cairo-Regular.ttf);
}
@font-face {
    font-family: 'Cairo';
    font-weight: 700;
    src: url(../Fonts/Cairo/static/Cairo-Bold.ttf);
}
@font-face {
    font-family: 'Rubik';
    font-weight: 300;
    src: url(../Fonts/Rubik/static/Rubik-Regular.ttf);
}
@font-face {
    font-family: 'Rubik';
    font-weight: 700;
    src: url(../Fonts/Rubik/static/Rubik-Bold.ttf);
}
@font-face {
    font-family: 'Exo';
    font-weight: 300;
    src: url(../Fonts/Exo/static/Exo2-Regular.ttf);
}
@font-face {
    font-family: 'Exo';
    font-weight: 700;
    src: url(../Fonts/Exo/static/Exo2-Bold.ttf);
}

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
    gap: 30px;
    background-color: #001021;
}
body::-webkit-scrollbar {
    width: 6px;
} 
body::-webkit-scrollbar-track {
    background-color: #001021;
}
body::-webkit-scrollbar-thumb {
    background-color: #3395ff;
    border-radius: 20px;
}
::selection {
    background-color: #a2cfffb4;
    color: white;
}

.flex {
    display: flex;
}
.row {
    flex-direction: row;
}
.col {
    flex-direction: column;
}
.center {
    justify-content: center;
    align-items: center;
}
.between {
    justify-content: space-between;
}
.evenly {
    justify-content: space-evenly;
}
.around {
    justify-content: space-around;
}

.off {
    display: none !important;
}

.img img {
    width: 100%;
}

.section-head {
    width: 100%;
    padding-right: 30px;
}
.section-title {
    width: fit-content;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: transparent;
    color: transparent;
    border: none;
    font-family: 'Exo', 'Rubik', 'Cairo';
    font-size: 72px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    cursor: pointer;
    -webkit-text-stroke: 1px #fff;
}
.hover-text {
    content: attr(data-text);
    width: 0%;
    position: absolute;
    inset: 0;
    color: #fff;
    border-right: 6px solid #fff;
    overflow: hidden;
    -webkit-text-stroke: 1px #fff;
}
.section-title:hover .hover-text {
    width: 100%;
    border-right-color: #fff;
    filter: drop-shadow(0 0 23px #ffffffb4)
}

p {
    text-transform: capitalize;
}
.title {
    font-family: 'Rubik', 'Exo', 'Cairo';
    font-weight: 700;
    font-size: 32px;
    color: #fff;
    transition: 0.2s 0s linear;
}
.align {
    font-family: 'Rubik', 'Exo', 'Cairo';
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    transition: 0.2s 0s linear;
}
.text {
    font-family: 'Rubik', 'Exo', 'Cairo';
    font-weight: 100;
    font-size: 22px;
    color: #fff;
    transition: 0.2s 0s linear;
}
.links {
    text-decoration: none;
    font-family: 'Cairo', 'Exo', 'Rubik';
    font-weight: 900;
    font-size: 22px;
    color: #fff;
    transition: 0.2s 0s linear;
}
.links:hover {
    text-decoration: solid;
}
hr {
    border: 1px #fff solid;
    border-radius: 8px;
}

.transition {
    transition: 0.2s 0s linear;
}
/* -------------------------------------- */
.landing {
    width: 95%;
    height: 850px;
    position: relative;
    margin-top: 20px;
    background-color: #124fff50;
    border-radius: 15px;
    box-shadow: 0 7px 25px #1234564b;
    overflow: hidden;
}

.div-img {
    width: 50%;
    overflow: hidden;
}
.div-img .img {
    width: 100%;
    height: 100%;
    background-image: url(../Background/Team/Mohammed-Header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    filter: grayscale(0.2) saturate(1.5);
    transition: 0.5s 0s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    cursor: pointer;
}
.div-img .img:hover {
    filter: grayscale(0) saturate(1.7);
    scale: 1.1;
}

.landing .title {
    width: 100%;
    padding: 10px;
    text-align: center;
}
#landing-title {
    display: none;
    animation: getINup 0.5s 0s linear forwards;
}
#landing-hr {
    animation: getINup 0.3s 0s linear forwards;
}
.about {
    width: 50%;
    position: relative;
    overflow: hidden;
}
#about-open {
    display: none;
    align-items: center;
    position: absolute;
    top: 280px;
    right: 5px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
#about-open:hover {
    background-color: #ffffff50;
}
#about-open:active {
    scale: 0.95;
}
#about-open:hover p {
    transition: 0.15s 0s ease-in-out;
}
#about-close {
    display: none;
    position: absolute;
    top: 10px;
    right: 25px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    font-size: 26px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    animation: getINup 0.5s 0s linear forwards;
}
#about-close:hover {
    background-color: #1122443f;
}
#about-close:active {
    scale: 0.85;
}
.about-links {
    margin: 10px;
    text-wrap: nowrap;
}
.about-box {
    width: 100%;
    height: 100%;
    gap: 15px;
    padding: 20px;
    overflow: auto;
}
.about-box::-webkit-scrollbar {
    width: 6px;
} 
.about-box::-webkit-scrollbar-track {
    background-color: #124fff50;
}
.about-box::-webkit-scrollbar-thumb {
    background-color: #3395ff;
    border-radius: 20px;
}
.t-btn {
    margin-left: 25px;
    font-family: 'Exo', 'Rubik', 'Cairo';
    font-weight: 700;
    font-size: 20px;
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}
.underline {
    /* Width Being Controling By Scripts Main.js */
    width: 0px;
    height: 3px;
    position: relative;
    left: -10px;
    bottom: 0;
    background-color: #fff;
    transition: transform 0.3s ease;
}

#Details, #Word {
    animation: fadeIN 0.2s 0s linear;
}

.FAQs {
    padding: 20px;
    background-color: #002c5c;
    border-radius: 8px;
    cursor: pointer;
    animation: getIN 0.2s 0s linear;
    transition: 0.2s 0s linear;
}
.FAQs:hover {
    background-color: #124dff4f;
}
.FAQs:active {
    scale: 0.95;
}

.accounts {
    padding-bottom: 10px;
}
.accounts .links {
    font-size: 52px;
    margin-right: 20px;
    animation: fadeIN 0.2s 0s linear;
    transition: 0.2s 0s linear;
}
.accounts .links:active {
    font-size: 45px;
}
.tooltip {
    height: 75px;
    display: inline-block; 
    position: relative;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: fit-content;
    background-color: #124;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 36%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.experience {
    gap: 20px;
    animation: fadeIN 0.2s 0s linear;
    overflow: visible;
}
.experience .tooltip .icons {
    font-size: 72px;
    color: #fff;
}
.experience .tooltip .tooltiptext {
    top: 100%;
    left: 50%;
}

.hire {
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: #002c5c59;
    border-bottom-right-radius: 15px;
}

.t-btn-2 {
    width: fit-content;
    height: fit-content;
    position: relative;
    padding: 10px 20px;
    background: transparent;
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    border: 1px solid #fff;
    border-radius: 8px;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: 0.2s 0s ease-in;
    -moz-transition: 0.2s 0s ease-in;
    transition: 0.2s 0s ease-in;
    overflow: hidden;
    cursor: pointer;
}
.t-btn-2:hover {
    background-color: #3395ff;
    color: #fff;
    border-color: #3395ff;
    box-shadow: 0 0 1px 1px #008eecd0;
    -webkit-transition: 0.2s 0s linear;
    -moz-transition: 0.2s 0s linear;
    transition: 0.2s 0s linear;
}
.t-btn-2:hover::before {
    -webkit-animation: shine 0.5s 0s linear;
    -moz-animation: shine 0.5s 0s linear;
    animation: shine 0.5s 0s linear;
}
.t-btn-2::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background-color: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}
.t-btn-2:active {
    scale: 0.95;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}
@keyframes shine {
    from {
        opacity: 0;
        left: 0%;
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        left: 100%;
    }
}

.t-btn-3 {
    width: fit-content;
    height: fit-content;
    position: relative;
    z-index: 1;
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    border: 1px solid #fff;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
}
.t-btn-3:hover {
    color: white;
    border-color: #25D366;
}
.t-btn-3:active {
    scale: 0.95;
    border-color: #25D366;
}
.t-btn-3::before {
    position: absolute;
    content: "";
    width: 300px;
    height: 300px;
    z-index: -1;
    background-color: #25D366;
    border-radius: 50%;
}
.t-btn-3:before {
    top: 100%;
    left: 100%;
    transition: 0.2s 0s linear;
}
.t-btn-3:hover::before {
    top: -50px;
    left: -50px;
}
/* -------------------------------------- */
/* Hiring Things */
.hiring {
    width: 50%;
    position: relative;
    animation: fadeIN 0.2s 0s linear;
}
#hiring-close {
    width: fit-content;
    padding: 10px 20px;
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: transparent;
    color: #124;
    font-size: 26px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
#hiring-close:hover {
    background-color: #ffffffb2;
}
#hiring-close:active {
    scale: 0.85;
}

#Email, #Name, #Num {
    width: 400px;
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #ffffffee;
    color: #124;
    outline: none;
    border: none;
    border-radius: 5px;
}
#Message {
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    min-height: 300px;
    max-height: 300px;
    padding: 20px;
    outline: none;
    color: #124;
    border: none;
    border-radius: 5px;
}
#alert {
    height: 33px;
}
.send {
    position: absolute;
    bottom: 25px;
}
.send a {
    text-decoration: none;
}
/* -------------------------------------- */
/* Skills */
.skills {
    width: 100%;
    gap: 30px;
    padding: 20px;
}
.s {
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}
.s1, .s2 {
    gap: 20px;
}
.card-skills {
    width: 500px;
    height: 100px;
    align-items: center;
    padding: 10px;
    background-color: #002c5c;
    border-radius: 8px;
    box-shadow: 0 7px 25px #1234564b;
    cursor: pointer;
    transition-duration: 0.1s;
}
.card-skills:active {
    scale: 0.98;
    box-shadow: 0 0 10px #1234564b;
}
.card-skills:hover .img {
    width: 70px;
}
.card-skills .img {
    width: 50px;
}
.card-skills .img:hover {
    scale: 1.2;
}
.card-skills:hover .skill-hr {
    transform: translateX(-80px);
    opacity: 0.7;
}
.skill-hr {
    width: 3.5px;
    height: 80px;
    margin: 0px 5px;
    background-color: #fff;
    border-radius: 15px;
    opacity: 0.35;
    transition: 0.15s 0s linear;
}
/* -------------------------------------- */
/* Gallery */
.gallery {
    width: 100%;
    gap: 30px;
    padding: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
}
#Search {
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: all .5s ease-in-out;
    cursor: pointer;
}
#Search::placeholder {
    color: transparent;
}
#Search:focus::placeholder {
    color: #fff;
}
#Search:focus, #Search:not(:placeholder-shown) {
    width: 290px;
    padding: 18px 16px 18px 40px;
    background-color: #002c5c;
    border: 1px solid #3395ff;
    cursor: none;
}
.search-icon {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    background-color: #002c5c;
    border-radius: 5px;
    z-index: -1;
    border: 1px solid #3395ff;
}
.search-icon path {
    fill: #3395ff;
}
#Search:hover + .search-icon {
    transform: rotate(360deg);
    transition: .2s ease-in-out;
}
#Search:focus + .search-icon, #Search:not(:placeholder-shown) + .search-icon {
    z-index: 0;
    background-color: transparent;
    border: none;
}

.gallery-options {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 4px;
    background-color: #002c5c;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 0 0px 1px #0000000f;
}
.gallery-options .radio {
    flex: 1 1 auto;
    text-align: center;
}
.gallery-options .radio input {
    display: none;
}
.gallery-options .radio .name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}
.gallery-options .radio input:checked + .name {
    background-color: #124fff50;
    font-weight: 600;
}
/* -------------------------------------- */
/* Gallery Sites */
.gallery-cards {
    flex-wrap: wrap;
    gap: 30px;
}
.card {
    width: 320px;
    height: 430px;
    gap: 15px;
    position: relative;
    padding: 10px;
    background-color: #001f54;
    border-radius: 8px;
    box-shadow: 0 7px 25px #1234564b;
}
.card .img {
    width: 100%;
    background-color: #eee;
    border-radius: 8px;
    position: relative;
}
.card-img img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
.slides {
    height: 175px;
}
.slides img {
    display: none;
    width: 100%;
    height: 100%;
}
.slides img.card-img-active {
    display: block;
    animation: fade 0.2s ease-in-out;
}

@keyframes fade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.card-name {
    margin-left: 10px;
}
.card-dis {
    display: -webkit-box;
    padding-left: 10px;
    font-size: 18px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
#card-view {
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.card-site {
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.card-btn {
    width: 46%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 15px;
    background-color: #3395ff;
    outline: 3px #3395ff solid;
    outline-offset: -3px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.card-btn .text {
    color: white;
}
.card-btn svg path {
    transition: 400ms;
}
.card-btn:hover {
    background-color: transparent;
}
.card-btn:hover .text {
    color: #fff;
}
.card-btn:hover svg path {
    fill: #fff;
}
.card-btn:active {
    scale: 0.9;
}
/* -------------------------------------- */
/* Gallery UI */
.gallery-ui {
    flex-wrap: wrap;
    gap: 30px;
}
.card-ui {
    width: 320px;
    height: 320px;
    position: relative;
    padding: 20px;
    background-color: #001f54;
    border: none;
    border-radius: 8px;
    box-shadow: 0 7px 25px #1234564b;
}
.card-ui-view {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.card-ui-view iframe {
    width: 100%;
    height: 100%;
}
.card-ui .tags-div {
    top: 12px;
    left: 12px;
}

.btn-ui-view {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    bottom: 15px;
    background-color: #124fff50;
    border: 2px #3395ff solid;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}
.btn-ui-view:active {
    scale: 0.9;
}
.btn-ui-view:after {
    content: " ";
    width: 0%;
    height: 100%;
    background-color: #3395ff;
    position: absolute;
    transition: 0.2s 0s ease-in-out;
    right: 0;
}
.btn-ui-view:hover::after {
    width: 100%;
    right: auto;
    left: 0;
}
.btn-ui-view span {
    width: 100%;
    padding: 10px 20px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    z-index: 1;
    transition: 0.2s 0s ease-in-out;
}
.btn-ui-view:hover span {
    color: #fff;
    animation: scaleUp 0.3s ease-in-out;
}
@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}
/* -------------------------------------- */
/* Certificates */
.certificate {
    width: 100%;
    gap: 30px;
    padding: 20px;
}
.certificate-gallery {
    width: 100%;
    gap: 20px;
}
.certificate-gallery .img {
    width: 350px;
    position: relative;
    overflow: hidden;
}
.certificate-gallery .img::after {
    content: "Open";
    display: none;
    position: absolute;
    top: 35%;
    left: 93px;
    font-family: 'Exo', 'Cairo', 'Rubik';
    font-weight: 900;
    font-size: 64px;
    color: #124;
    transition: 0.2s 0s ease-in-out;
    cursor: pointer;
}
.certificate-gallery .img:hover::after {
    display: block;
}
.certificate-gallery .img:active::after {
    scale: 1.2;
}
.certificate-gallery .img img {
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s 0s ease-in-out;
}
.certificate-gallery .img:hover img {
    filter: brightness(0.99) blur(10px);
    scale: 1.2;
}
.certificate-gallery .img:active {
    scale: 0.95;
}
/* ------------------------------------------ */
/* Partners */
.partenrs {
    width: 100%;
    gap: 30px;
    position: relative;
    padding: 20px;
}

.partenrs-slider {
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}
.partenrs-slider:hover .partenrs-logo-slide {
    animation-play-state: paused;
}
.partenrs-logo-slide {
    display: inline-block;
    animation: 30s slide infinite linear;
}
.partenrs-logo-slide img {
    width: 183px;
    height: 60px;
    margin: 0 40px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    
    to {
        transform: translateX(-100%);
    }
}

.partners-button {
    width: 100%;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(4px);
}
.partners-button .t-btn-2 {
    background-color: #3395ff;
    border-color: #3395ff;
    color: white;
}
/* -------------------------------------- */
/* Footer */
footer {
    width: 100%;
    gap: 40px;
    position: relative;
    padding: 160px 70px 20px 70px;
    background-color: #124;
}
footer .title, footer .align, footer .text, footer .links {
    color: white;
}
.footer-accounts {
    font-size: 42px;
    color: white;
}
.footer-top {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0;
    overflow: hidden;
}
.footer-top svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px;
}
.footer-top .shape-fill {
    fill: #001021;
}
.footer-body {
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    z-index: 2;
}
.footer-info {
    align-items: flex-start;
    gap: 20px;
}
.footer-info .flex {
    gap: 20px;
}
.footer-info .icon {
    font-size: 32px;
    color: white;
}
.af {
    gap: 20px;
}
.footer-rights {
    z-index: 2;
}
.texture {
    width: 100%;
    height: 85%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-image: url(../Background/inspiration-geometry.png);
}
/* -------------------------------------- */
/* Site Side Opreation Tools */
.site-side {
    width: 50px;
    align-items: center;
    gap: 10px;
    position: fixed;
    bottom: 2%;
    right: 10px;
    z-index: 11;
    padding: 5px;
    background-color: #124fff50;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 7px 25px #1234564b;
}
.side-btn {
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 0.05;
}
.side-btn:hover {
    background-color: #ffffff50;
}
.side-btn:active {
    scale: 0.8;
}

#light-mode {
    display: block;
    animation: LD-Mode 0.5s forwards ease-in-out;
}
#dark-mode {
    display: none;
    animation: LD-Mode 0.5s forwards ease-in-out;
}
#go-up {
    display: none;
}
/* -------------------------------------- */
/* Cards Tags */
.tags-div {
    flex-wrap: wrap;
    gap: 5px;
    position: absolute;
    top: 5px;
    left: 5px;
}
.tag {
    width: fit-content;
    padding: 5px;
    background-color: #ff253a;
    color: white;
    font-family: 'Rubik', 'Exo', 'Cairo';
    font-size: 12px;
    border-radius: 3px;
    pointer-events: none;
}

.tag-arabic {
    background-color: #ff4949;
}
.tag-html {
    background-color: #f06529;
}
.tag-css {
    background-color: #2965f1;
}
.tag-javascript {
    background-color: #f0db4f;
    color: #333 !important;
}
.tag-bootstrap {
    background-color: #563d7c;
}
.tag-responsive {
    background-color: #06479c;
}
.tag-design {
    background-color: #48ca28;
}
.tag-loading {
    background-color: #3395ff;
}
.tag-button {
    background-color: #172b5f;
}
.tag-more {
    background-color: #ff3b3b;
}
/* ------------------------------------------ */
/* Gallery Modals Backward Opacity */
.wh-sites, .wh-ui, .wh-img {
    width: 100%;
    height: 100%;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: #03070abe;
    overflow: hidden;
}
/* ------------------------------------------ */
/* Modal Cards */
.modal {
    width: 95%;
    height: 95%;
    position: relative;
    padding: 20px;
    background-color: #001f54;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0 7px 25px #1234564b;
    overflow: auto;
}
.modal::-webkit-scrollbar {
    width: 6px;
}
.modal::-webkit-scrollbar-track {
    background-color: #124;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.modal::-webkit-scrollbar-thumb {
    background-color: #3395ff;
}
#modal-close {
    position: absolute;
    top: 20px;
    right: 25px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    font-size: 26px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#modal-close:hover {
    background-color: #fff;
    color: #124;
}
#modal-close:active {
    scale: 0.85;
}
.modal .title {
    width: 100%;
    text-align: center;
    font-size: 42px;
}
.view-data {
    width: 60%;
    gap: 20px;
}

.slider {
    width: 100%;
    gap: 10px;
}
.slider-view {
    width: 100%;
    padding: 10px;
}
#img-slider-view {
    width: 100%;
    height: 100%;
    background-color: #124fff50;
    border-radius: 5px;
}
#left, #right {
    height: 100%;
    background-color: transparent;
    color: #fff;
    font-size: 40px;
    border: none;
    cursor: pointer;
}
#left:active, #right:active {
    scale: 0.85;
}
.img-slider {
    width: 100%;
    height: 80px;
    align-items: center;
    gap: 15px;
    padding: 5px;
    overflow: hidden;
}
.img-slider-slice {
    width: 100px;
    height: 90%;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.img-slider-slice:active {
    scale: 0.9;
}
.active {
    border: 2px white solid;
    outline: 3px #3395ff solid;
}

.view-data .align {
    font-size: 52px;
}
.modal .tag {
    padding: 5px 10px;
    font-size: 16px;
}
.view-data .tags-div {
    align-items: center;
    position: static;
    margin: 20px 30px;
}
.tags-div .align {
    font-size: 32px;
}
.view-data .card-dis {
    margin-left: 20px !important;
    -webkit-line-clamp: 100 !important;
    -webkit-box-orient: vertical;
}

.view-info {
    width: 25%;
}
.view-info .card-name {
    margin: 0 !important;
}
.team-card {
    width: 100%;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-radius: 8px;
    cursor: pointer;
}
.team-card:hover {
    background-color: #124;
}
.team-card:active {
    scale: 0.9;
}
.view-info .img {
    width: 50px;
    gap: 10px;
}
.team-img img {
    width: 100%;
    border-radius: 50%;
}
.view-info .card-site {
    width: 100%;
    position: static;
}

.script-data {
    width: 100%;
    gap: 20px;
    margin-top: 100px;
}
.script-data-title {
    width: 100%;
    color: #fff;
    font-family: 'Rubik', 'Exo', 'Cairo';
    font-size: 26px;
    text-align: center;
}
.script-data-lang {
    width: 100%;
    align-items: center;
}
.script-data-lang {
    gap: 10px;
    font-size: 32px;
}
.html-data, .css-data, .javascript-data {
    width: 100%;
    height: 10px;
    position: relative;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
}
.html-p {
    width: 0%;
    height: 100%;
    position: relative;
    background-color: #f06529;
    animation: getInLTR 0.8s 0s linear forwards;
}
.css-p {
    width: 0%;
    height: 100%;
    position: relative;
    background-color: #2965f1;
    animation: getInLTR 0.8s 0s linear forwards;
}
.javascript-p {
    width: 0%;
    height: 100%;
    position: relative;
    background-color: #f0db4f;
    animation: getInLTR 0.8s 0s linear forwards;
}
/* ------------------------------------------ */
/* Modal UI */
.modal-ui {
    width: 75%;
    height: 95%;
    position: relative;
    background-color: #123;
    border-radius: 15px;
    box-shadow: 0 7px 25px #1234564b;
    overflow: auto;
}
.modal-ui::-webkit-scrollbar {
    width: 6px;
}
.modal-ui::-webkit-scrollbar-track {
    background-color: #ebf6ff;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.modal-ui::-webkit-scrollbar-thumb {
    background-color: #3395ff;
}
#modal-ui-close {
    position: absolute;
    top: 10px;
    right: 25px;
    z-index: 1;
    padding: 5px 15px;
    background-color: #123;
    color: #fff;
    font-size: 26px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#modal-ui-close:hover {
    background-color: #fff;
    color: #125;
}
#modal-ui-close:active {
    scale: 0.85;
}

.view-ui {
    width: 50%;
    height: 100%;
}
.view-ui iframe {
    width: 100%;
    height: 100%;
}

.view-code {
    width: 50%;
    height: 100%;
    background-color: #123;
    position: relative;
}
.view-code .text {
    color: white;
}

.view-code-options {
    width: 100%;
    display: flex;
    position: relative;
    padding: 12px 12px 0 12px;
    background-color: #123;
    border-top-right-radius: 15px;
}
.view-code-options .radio input {
    display: none;
}
.view-code-options .radio .name {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    transition: all 0.15s ease-in-out;
}
.view-code-options .radio input:checked + .name {
    background-color: #3395ff;
    font-weight: 600;
}
.view-code-options .radio input + .name:hover {
    color: #fff;
}
.view-code-options .radio input:checked + .name:hover {
    color: #fff;
}

.view-html-code, .view-css-code, .view-javascript-code {
    width: 100%;
    height: 100%;
    margin: 0 !important;
    background-color: #123 !important;
}
.view-html-code::-webkit-scrollbar, .view-css-code::-webkit-scrollbar, .view-javascript-code::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.view-html-code::-webkit-scrollbar-track, .view-css-code::-webkit-scrollbar-track, .view-javascript-code::-webkit-scrollbar-track {
    background-color: #ebf6ff;
}
.view-html-code::-webkit-scrollbar-thumb, .view-css-code::-webkit-scrollbar-thumb, .view-javascript-code::-webkit-scrollbar-thumb  {
    background-color: #3395ff;
}

.view-html-code .token, .view-css-code .token, .view-javascript-code .token {
    background-color: #123 !important;
    font-size: 18px;
}

.alert-code {
    position: absolute;
    left: 25px;
    bottom: 30px;
    color: white;
    font-size: 28px;
}
.view-code .t-btn-2 {
    position: absolute;
    right: 25px;
    bottom: 25px;
    font-weight: 100;
}
/* ------------------------------------------ */
/* Modal Images */
.modal-img {
    width: 95%;
    height: 95%;
    position: relative;
    border-radius: 15px;
}
#modal-img-close {
    position: absolute;
    top: 10px;
    right: 25px;
    z-index: 1;
    padding: 10px 20px;
    background-color: #125;
    color: #fff;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#modal-img-close:hover {
    background-color: #125;
    color: #fff;
}
#modal-img-close:active {
    scale: 0.85;
}

.modal-img .img {
    width: 500px;
    cursor: pointer;
}
.modal-img .img:hover {
    scale: 1.05;
}
.modal-img .img img {
    border-radius: 15px;
}
/* ------------------------------------------ */
/* Animations */
@keyframes getIN {
    0% {
        margin-top: 75px;
        opacity: 0;
    }
    100% {
        margin-top: 0;
        opacity: 1;
    }
}
@keyframes getINup {
    0% {
        margin-top: -40px;
        opacity: 0;
    }
    100% {
        margin-top: 0;
        opacity: 1;
    }
}
@keyframes getOUTdown {
    0% {
        margin-top: 0;
        opacity: 1;
    }
    100% {
        margin-top: -75px;
        opacity: 0;
    }
}
@keyframes getInLTR {
    0% {
        left: -500px;
    }
    100% {
        left: 0;
    }
}

@keyframes fadeIN {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes LD-Mode {
    0% {
        rotate: 360deg;
        scale: 0;
    }
    50% {
        rotate: 0deg;
        scale: 1.3;
    }
    100% {
        scale: 1;
    }
}